<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Tmax Achievement system</h2>
            <p>Credit:</p>
            <p>남윤수(yoonsoo_nam@tmax.co.kr)</p>
            <p>나정호(jeongho_nah@tmax.co.kr)</p>
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>
