<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h3><span class="badge badge-default">Weekly News
            <span class="badge badge-pill badge-danger"><%= news_cnt %></span></span>
            </h3>
            <br/>
            <% for(var i=0; i<news.length; i++) { %>
                <p>
                <%= news[i] %>
                </p>
                <hr>
            <% } %>
        </div>

        <div class="jumbotron">
            <h3><span class="badge badge-default">Notice
            <span class="badge badge-pill badge-danger"><%= notice_cnt %></span></span>
            </h3>
            <br/>
            <% for(var i=0; i<notice.length; i++) { %>
                <p>
                <%= notice[i] %>
                </p>
                <hr>
            <% } %>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
