<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h3><span class="badge badge-success">Weekly Achievement</span></h3>
            <p><%= attend %></p>
        </div>

        <div class="jumbotron">
            <h3><span class="badge badge-success">Total Achievement</span></h3>
            <p><%= attend %></p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
